<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Register Recehin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-list>
    <ion-item>
      <ion-input placeholder="First name" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-input placeholder="Last name" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-input placeholder="Phone Number" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-input placeholder="Email" ></ion-input>
    </ion-item>
  </ion-list>

  <button ion-button block outline (click)="register">Register</button>
</ion-content>
