<!--
  Generated template for the OtpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title >OTP Code</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <ion-label text-center>Input your OTP code</ion-label>
      <button ion-button block outline (click)="goNext()">Next</button>
</ion-content>
