<ion-content padding class="bg-image">
<ion-card>
  <ion-card-content>
      <ion-list no-line>
          <ion-item>
            <ion-icon name="ios-call" item-left></ion-icon>
            <ion-input placeholder="Phone Number" type="tel" required></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button block outline (click)="login()">Log In</button>
  </ion-card-content>
</ion-card>
<button ion-button  clear full color="dark" (click)="goRegister()">don't have an account? Sign up</button>
</ion-content>
