page-home {

    .bg-image {
        background-image: url('../assets/imgs/bg.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    ion-card.card {
        box-shadow: none;
        background: transparent;
        border-radius: 5px;
        margin-top: 250px;
    }

    ion-item.item {
        background: transparent;
    }

    button.button {
        margin-top: 20px;
    }
    
}
